.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name 
        = current_user.name

      .top-items__icons
        = link_to new_group_path, class: "top-items__setting-icon" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "top-items__edit-icon"  do
          = icon('fas', 'cog')
  .side-bar__group-list
    .group-item
      %a.group-item__link-group{:href => "#"}
        .group-item__name
          - current_user.groups.each do |group|
            .Group__name
              = group.name
            .group-item__latest-message
              まだメッセージありません